html, body {
    height:100%;
} 

body {
    background: #F4BE6A;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat Alternates', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
}

#skip-to-content {
    clip: rect(0 0 0 0);
    position: absolute;
}
  
h1 {
    font-weight: normal;    
    margin-top: 0;
}

h1 a {
    color: black;
}

p, li {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

img {
    max-width: 100%;
}

#main-content {
    padding: 1rem;
}

.card {
    border-radius: 4px;
    margin: 4rem auto;
    position: relative;
    max-width: 640px;
    padding: 2rem 2rem;
    overflow: hidden;
}

.card-title {
    display: inline-block;
    width: 84%;
    vertical-align: top;
}

.card-image {
    display: inline-block;
    width: 13%;
    text-align: right;
    vertical-align: top;
}

.text-secondary, .text-secondary a, .coming-soon {
    color: #534e3a;
    line-height: 1.1rem;
}

.text-secondary a:hover {
    color: black;
}

.coming-soon {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
    .card {
        margin: 1rem auto 2rem;
    }
    .card-image {
        display: none;
    }

    .card-title {
        width: 100%;
    }
    
    h1 {
        font-size: 1.4rem;
    }
    .card {
        max-width: 100%;
    }
}
